{% for subfield, subitem in item %}
  {% if subitem -%}
    {% if subfield == 'first' %}
      <div class="billed-annually-price d-none">
        ${{- subitem -}}
      </div>
    {% else %}
      <div class="billed-month-price d-none">
        ${{- subitem -}}
      </div>
    {% endif %}
  {% endif %}
{% endfor %}
