{% for subfield, subitem in item %}
  {% if subitem -%}
    {% if subfield == 'first' %}

      <div class="accordion__trigger">
        <p class="accordion__title">{{- subitem -}}</p>
          <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M20.5 10C20.5 10.8654 19.7788 11.5865 18.9615 11.5865H12.0385V18.5096C12.0385 19.3269 11.3173 20 10.5 20C9.63462 20 8.96154 19.3269 8.96154 18.5096V11.5865H2.03846C1.17308 11.5865 0.5 10.8654 0.5 10C0.5 9.18269 1.17308 8.50962 2.03846 8.50962H8.96154V1.58654C8.96154 0.721154 9.63462 0 10.5 0C11.3173 0 12.0385 0.721154 12.0385 1.58654V8.50962H18.9615C19.7788 8.46154 20.5 9.18269 20.5 10Z" fill="#53BAD1"/>
          </svg>
      </div>

    {% else %}

      <div class="accordion__content">
        {{- subitem -}}
      </div>

    {% endif %}
  {% endif %}
{% endfor %}

