<!-- Modal for demo video-->
<div class="modal demo-video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img alt="close" src="{{ base_path ~ directory }}/images/xmark.svg">
      </button>
      <div
        class="modal-body">
        <!-- 16:9 aspect ratio -->
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
        </div>

        <a class="modal-diffy-register" href="https://app.diffy.website/#/register">Try For Free</a>
      </div>
    </div>
  </div>
</div>
