footer {
  border-top: 1px solid $purple-color;
  padding-top: 16px;

  .site-logo-footer {
    width: 93px;
    height: 33px;
    fill: $purple-color;
  }

  .footer-nav {
    list-style: none;
    font-size: 14px;

    li {
      padding-bottom: 10px;

      a {
        color: $font-color;
        font-size: 14px;
        display: block;

        &:hover {
          color: $purple-color;
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: $sm) {
  footer {
    .footer-nav {
      li {
        a {
          font-size: 13px;
        }
      }
    }
  }
}
