.main-banner {
  .main-banner__text {
    h1 {
      font-size: 38px;
      font-weight: bold;
      color: $font-color;

      .diffy {
        font-size: 47px;
        color: $purple-color;
        letter-spacing: 2px;
      }

      .save {
        color: $green-color;
        font-size: 42px;
        font-weight: 900;
      }
    }
  }

  .main-banner__image {
    .main-banner__illustration {
      width: 120%;
    }
  }
}

.screenshot-block--bottom {
  .link-arrow {
    a {
      color: $purple-color;
      font-weight: bold;
      font-size: 13px;
      text-transform: uppercase;
      text-decoration: none;
      stroke: $purple-color;

      &:hover {
        color: $green-color;
        stroke: $green-color;
      }
    }
  }
}

.screenshot-block--bottom__button {
  display: flex;
  margin-top: 50%;
}

.slider-block {
  background-image: url("../images/blue_bg3.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 80px 15px;

  .slider-group {
    i {
      color: $lightgray-color;
    }
  }
}

.button-integrations {
  width: 154px;
  height: 56px;
  border: none;
  background-color: $font-color;
}

.headline--margin-top {
  margin-top: 80px;
}

.counter-form {
  background-image: url("../images/pink_bg.svg");
  background-size: 100%;
  background-repeat: no-repeat;

  .counter-form__headline {
    font-size: 25px;
    color: $font-color;
  }

  select {
    border-radius: 0;
    border-color: #c6dde5;
    color: $lightgray-color;
    -webkit-appearance: none;
    position: relative;

    &:focus {
      box-shadow: none;
      border-color: #c6dde5;
    }
  }

  .counter-form__appearance::before {
    font-family: "Font Awesome 5 Free", sans-serif;
    font-weight: 900;
    vertical-align: middle;
    content: "\f054";
    position: absolute;
    right: 40px;
    top: 0;
    z-index: 1;
    height: 38px;
    transform: rotate(90deg);
    font-size: 17px;
    color: #93a9b0;
    pointer-events: none;
  }

  .operator {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    color: #c6dde5;
    font-size: 15px;
    font-family: "Helvetica Neue", sans-serif;
  }

  .green-border {
    border-color: #03a1b5 !important;
    margin: 0 -20%;
  }

  label {
    color: $font-color;
  }

  .counter-form--summary__text {
    font-size: 20px !important;
    font-weight: 900;
    color: #03a1b5;
  }

  .counter-form--summary__input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid $green-color;
    width: 48px;
    font-size: 20px;
    font-weight: 900;
    color: #03a1b5;
    padding: 0;
  }
}

@media (min-width: $md-plus) {
  .hidden-button-bottom {
    display: none !important;
  }

  .pink-dotted-bg {
    background-image: url("../images/pink_dotted_bg.svg");
    background-size: 175px;
    background-repeat: no-repeat;
    background-position: right 25% bottom 10%;
  }

  .carousel {
    position: relative;

    .carousel__button--left {
      position: absolute;
      left: 40px;
      top: 35%;
      z-index: 1;
      transform: translate(-35%, 0);
    }

    .carousel__button--right {
      position: absolute;
      right: 40px;
      top: 35%;
      z-index: 1;
      transform: translate(-35%, 0);
    }

    .carousel__button {
      font-weight: 900;
      font-size: 23px;
      color: #93a9b0;
      background-color: transparent;
      border: none;
      outline:none;

      &:hover {
        color: $font-color;
      }
    }
  }
}

@media (max-width: $lg) {
  .main-banner {
    padding-top: 50px;
  }
}

@media (max-width: $md) {
  .screenshot-block--bottom__button {
    display: none;
  }

  .hidden-button-top {
    display: none !important;
  }

  .main-banner {
    .main-banner__image {
      .main-banner__illustration {
        width: 140%;
        padding-left: 5%;
      }
    }
  }

  .operator {
    display: none;
  }

  .headline--margin-top {
    margin-top: 20px;
  }

  .counter-form {
    .green-border {
      margin: 0 0;
    }
  }

  .slider-block {
    padding: 30px 15px;

    .logo {
      margin-bottom: 20px;
    }

    .carousel {
      .carousel--mobile {
        position: absolute;
        bottom: 115px;
        left: 50%;
        transform: translate(-50%, 0);

        .carousel--mobile__button {
          background-color: transparent;
          padding: 3px;
          border: 1px solid $lightgray-color;
          border-radius: 50%;
          z-index: -1;
          outline:none;
        }

        .carousel--mobile__button--active {
          background-color: #03a1b5;
        }
      }
    }
  }
}

@media (max-width: $sm) {
  .main-banner {
    .main-banner__text {
      h1 {
        font-size: 18px;

        .diffy {
          font-size: 27px;
        }

        .save {
          font-size: 22px;
        }
      }
    }
  }

  .counter-form {
    .counter-form__headline {
      font-size: 18px;
    }
  }
}
