.navbar {
  padding: 0;

  @media (max-width: $xl) {
    padding: 24px 0;
  }

  .navbar-brand {
    font-size: 22px;
    font-weight: 900;
    color: $purple-color;
    text-transform: uppercase;
    margin-right: 80px;

    &:hover {
      color: $green-color;
    }

    &:active,
    &:focus {
      color: $purple-color;
    }
  }

  .navbar-nav {
    .nav-item {
      .active {
        color: $purple-color !important;
        font-weight: 600;
        text-decoration: underline;
      }

      .nav-link {
        color: $font-color;

        &:hover {
          color: $purple-color;
        }

        &:active,
        &:focus {
          color: $purple-color;
          text-decoration: underline;
        }
      }
    }

    .navbar-block__login {
      .nav-link {
        border: 1px solid $purple-color;
        color: $purple-color;

        &:hover {
          border-color: $green-color;
          color: $green-color;
        }

        &:active,
        &:focus {
          color: $green-color;
          border-color: $green-color;
          text-decoration: underline;
        }
      }
    }
  }

  .navbar-toggler {
    border: none;
    color: $font-color;
    outline: none;
  }
}

.site-logo {
  width: 93px;
  height: 33px;
  fill: $purple-color;
}

@media (min-width: $lg-plus) {
  .navbar-nav {
    width: 80%;
  }
}

@media (max-width: $lg) {
  .navbar-block--shadow {
    .navbar {
      .js-logo-color {
        fill: white;
      }

      .navbar-nav {
        .nav-item {
          .active {
            color: $green-color !important;
            font-weight: 600;
            text-decoration: underline;
          }

          .nav-link {
            color: $font-color;

            &:hover {
              color: $green-color;
            }

            &:active,
            &:focus {
              color: $green-color;
              text-decoration: underline;
            }
          }
        }

        .navbar-block__login {
          margin: auto;

          .nav-link {
            border-color: white;
            color: white;

            &:hover {
              border-color: $green-color;
            }

            &:active,
            &:focus {
              color: $green-color;
              border-color: $green-color;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  .js-mobile-menu {
    background-color: $purple-color;
    height: 100vh;
    opacity: 1;
    transition: 2s;
  }

  .navbar-block__mobile--overlay {
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
  }

  .js-navbar-block__mobile--show {
    background-color: $purple-color;
    position: absolute;
    height: 100%;
    box-shadow: none;
    opacity: 1;
    transition: 2s;

    .navbar {
      .navbar-toggler {
        color: white;
      }

      .navbar-nav {
        .nav-item {
          .nav-link {
            color: white;

            &:hover {
              color: $green-color;
            }

            &:active,
            &:focus {
              color: $green-color;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .collapsing {
    transition: none;
    display: none;
  }
}

@media (min-width: $md-plus) and (max-width: $lg) {
  .js-navbar-block__mobile--show {
    width: 50%;
    right: 0;
    position: fixed;
  }

  .js-mobile-menu {
    background-color: transparent;
    height: 100%;
  }
}

//New menu
#block-mainnavigation {
  position: static;

  @media (min-width: $xl) {
    width: 100%;
  }

  @media (max-width: $xl) {
    width: 24px;
    height: 24px;
    margin-left: auto;

    #superfish-main-accordion {
      &.sf-expanded {
        position: absolute;
        padding: 20px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
        background: #fff;
        min-width: 100vw;
        min-height: 500px;
        height: 100vh;
        top: 83px !important;
        left: -10% !important;

        li {
          background-color: #fff;

          a {
            padding: 16px 0;
            text-align: left;

            &:focus,
            &:visited {
              color: inherit;
              background-color: inherit;
            }
          }

          &.sf-depth-1 {
            &+li {
              border-top: 1px solid rgba($color: #C3C3C3, $alpha:0.3);
            }
          }
        }

        .action-links {
          display: inline-block;
          border-top: 1px solid rgba($color: #C3C3C3, $alpha:0.3);
          width: 100%;
          height: 100%;

          .sign-in {
            margin-right: 0;
            width: 100%;
            text-align: left;
            padding: 16px 0;
          }

          .diffy-register {
            margin-left: 0;
          }

          .diffy-register,
          .video-btn {
            width: fit-content;
            display: inline-block;
            margin-top: calc(100% - 30px);
            float: left;
          }
        }
      }
    }
  }

  #superfish-main-toggle {
    display: block;
    background: #fff;
    border: unset;
    padding: 0;
    position: relative;

    span {
      font-size: 0;
    }

    &::after {
      color: $font-color;
    }

    &.sf-expanded {
      &::after {
        color: #9036AA;
      }
    }
  }
}

.sf-main {
  li {
    background-color: #FFFFFF;

    a.is-active {
      color: #FF585B !important;
    }

    &.sf-depth-1 {
      a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: $font-color;
        padding: 24px 0;

        &:hover {
          background-color: #FFFFFF;
        }
      }

      &.sfHover {
        .sf-sub-indicator {
          transform: rotate(-180deg);

          &::after {
            right: 0;
            left: unset;
          }
        }
      }

      ul {
        li {
          &.sf-depth-2 {
            a {
              font-family: 'Montserrat';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 30px;
              padding: 0 16px;
              color: $font-color;
              text-decoration: unset;
            }
          }
        }
      }
    }
  }

  .sf-sub-indicator {
    right: 0;
    top: 46%;
    opacity: unset;
    color: #53BAD1;

    &::after {
      content: url("../images/carret-down.svg") !important;
    }
  }

  .action-links {
    .sign-in {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      background-color: #FFFFFF;
      color: $font-color;
      padding: 12px 16px;

      &:visited {
        color: $font-color;
      }

      &:hover,
      &:focus {
        background: transparent;
        color: #53BAD1;
        text-decoration: unset;
      }
    }

    .diffy-register {
      display: block;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      background: #9036AA;
      box-shadow: 0px 2px 5px rgba(144, 54, 170, 0.35);
      border-radius: 5px;
      color: #fff;
      margin-left: 30px;
      padding: 12px 16px;

      &:visited {
        color: #fff;
      }

      &:hover,
      &:focus {
        background: #C751E9;
        box-shadow: 0px 2px 5px rgba(144, 54, 170, 0.35);
        border-radius: 5px;
        text-decoration: unset;
        color: #fff;
      }
    }

    .video-btn {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      background: #FFFFFF;
      border: 1px solid #E2E2E2;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
      border-radius: 5px;
      color: $font-color;
      margin-left: 10px;
      padding: 12px 16px;

      &:visited {
        color: $font-color;
        border: 1px solid #E2E2E2;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
      }

      &:hover,
      &:focus {
        border: 1px solid #BCBCBC;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
        border-radius: 5px;
        outline: unset;
        text-decoration: none;
      }
    }
  }
}

.navbar-block {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.07);

  .container-fluid {
    padding: 0 30px;
  }
}

#superfish-main {
  width: 100%;
  float: unset;
  margin-bottom: 0;

  li {
    background-color: #FFFFFF;

    a {

      &:focus,
      &:visited {
        color: inherit;
        background-color: inherit;
      }
    }

    &.sf-depth-1 {
      &.menuparent {
        a {
          padding-right: 18px;
        }
      }

      +& {
        margin-left: 30px;
      }

      ul {
        background: #FFFFFF;
        border: 1px solid #EBEBEB;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 12px 5px;
        top: 50px;

        li {
          &.sf-depth-2 {
            a {
              &:hover {
                background: rgba($color: #53BAD1, $alpha:0.1);
                border-radius: 4px;
                color: #53BAD1;
              }
            }
          }
        }
      }
    }
  }

  .sf-sub-indicator {
    right: 0;
    top: 48%;
    opacity: unset;
    color: #53BAD1;
  }

  .action-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
  }
}

//Demo video modal
.demo-video-modal.show {
  padding-right: 0 !important;
  background: rgba(0, 0, 0, 0.5);

  .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 44px;
    background: #000000 !important;
    border-radius: 50px;
    transform: matrix(-1, 0, 0, 1, 0, 0);

    @media (max-width: $md) {
      right: 34px;
    }
  }

  .modal-dialog {
    margin: 0 auto;
    filter: drop-shadow(0px 10px 20px rgba(25, 76, 97, 0.15)) drop-shadow(0px 20px 40px rgba(31, 97, 123, 0.15));
    border-radius: 10px;

    @media (min-width: $xl) {
      min-width: 1000px;
      min-height: 550px;
    }

    .modal-content {
      background-color: transparent;
      border: unset;
      padding: 40px;
      border-radius: 10px;
      top: 100px;

      .embed-responsive {
        border-radius: 10px;
      }

      @media (max-width: $md) {
        padding: 40px 20px;
      }
    }
  }

  .modal-diffy-register {
    width: fit-content;
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    background: #F0D500;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: $font-color;
    margin: 20px auto 0 auto;
    padding: 12px 16px;

    &:visited,
    &:hover,
    &:focus {
      background: #F0D500;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
      color: $font-color;
    }
  }
}


.modal-backdrop {
  display: none;
}
