.features-banner__text {
  margin-bottom: 50px;
  @media (min-width: $md) {
    margin-bottom: 0;
  }
  h1 {
    font-weight: 700;
    font-size: 28px !important;;
    line-height: 36px;
    margin-bottom: 15px;
    @media (min-width: $md) {
      font-size: 38px !important;;
      line-height: 46px;
    }
  }
  h3 {
    font-weight: 400;
    font-size: 18px !important;;
    line-height: 30px;
    @media (min-width: $md) {
      font-size: 22px !important;
      line-height: 46px;
    }
  }
}
.screenshot-block--bottom {
  .screenshot-block__background {
    .screenshot-block__image {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  h3 {
    @extend %headline-common;

    font-size: 22px !important;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 15px;
    @media (min-width: $md) {
      font-size: 23px !important;
      line-height: 32px;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }

  p {
    font-size: 18px !important;
    color: $font-color;
  }
}

.screenshot-block--top {
  .screenshot-block__background {
    .screenshot-block__image {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .screenshot-block__text {
    h3 {
      @extend %headline-common;

      font-size: 22px !important;
      font-weight: 700;
      line-height: 30px;
      margin-bottom: 15px;
      @media (min-width: $md) {
        font-size: 23px !important;
        line-height: 32px;
        font-weight: 700;
        margin-bottom: 20px;
      }
    }

    p {
      font-size: 18px !important;
      line-height: 30px;
      color: $font-color;
    }
  }

  .screenshot-block__link {
    color: $light-blue;
  }
}
