@import "variables";

a.blog-teaser-title {
  color: black;
  text-decoration: none;

  :hover {
    color: $purple-color;
  }
}

.blog-teaser img {
  max-width: 100%;
}

@media (max-width: 575px) {
  .blog-teaser h3 {
    font-size: 23px !important;
  }
}

// Blog Block
.blog-block {
  padding: 60px 0;

  .blog-block-title {
    h2 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 28px;
      line-height: 34px;
      color: $font-color;
      margin: 0;
      text-align: center;
    }

    @media (max-width: $lg) {
      h2 {
        font-size: 22px !important;
        line-height: 30px;
      }
    }
    @media (max-width: $md) {
      h2 {
        text-align: left;
      }
    }
  }
}
