.content_navigation {
  border-left: solid 1px #99979c;
  color: #99979c;

  ul {
    list-style-type: none;
    padding-left: 10px;

    li {
      list-style-type: none;
      .title {
        cursor: pointer;
      }
    }
  }
}