.content_navigation {
  color: #99979c;

  ul {
    border-left: solid 1px #99979c;
    position: fixed;
    list-style-type: none;
    padding-left: 12px;

    li {
      list-style-type: none;
      padding-top: 12px;

      &.is-active {
        text-decoration: underline;
      }

      .title {
        cursor: pointer;
        font-size: 12px;
      }
    }
  }
}