@import "variables";

// Block Title
.pricing-card-title {
  padding: 40px 20px 20px 20px;

  h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: $font-color;
    text-align: center;
    margin: 0;
  }

  @media (max-width: $lg) {
    padding: 90px 20px 40px 20px;

    h2 {
      font-size: 28px !important;
      line-height: 34px;
    }
  }
}

// Price Period Switcher
.price-period-switcher {
  height: 30px;
  margin-bottom: 30px;
}

// Pricing Card
.pricing-card--wrapper {
  @media (max-width: $lg) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.pricing-card {
  padding: 30px 40px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  max-width: 360px;
  border-radius: 10px;
}

.pricing-card__head {
  h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $font-color;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $font-color;
    margin: 0;
  }
}

.pricing-card__price {
  margin-top: 14px;

  .price-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .price-text {
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      color: $font-color;
      margin-right: 5px;
    }

    small {
      margin-left: 5px;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $font-color;
    }

    .price-description {
      font-size: 12px;
      line-height: 16px;
    }
  }
}

.border {
  margin: 24px 0;
  opacity: 0.25;
  border: 0.5px solid $lightgray-color !important;
}

.pricing-card__body {
  font-size: 14px;
  line-height: 22px;
  color: $font-color;
  padding-left: 20px;
  margin-bottom: 0;

  a {
    color: $font-color;
  }

  li {
    margin-bottom: 10px;
    list-style-image: url("../images/check.svg");
    padding-inline-start: 10px;

    &:last-child {
      margin: 0;
    }
  }
}

.pricing-card__bottom {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  a.btn {
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    box-shadow: 0px 2px 5px rgba(144, 54, 170, 0.35);
    border-radius: 5px;
  }

  .diffy-register-description {
    margin-top: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $lightgray-color;
  }
}
