@import "variables";

// Block Title
.pricing-card-title {
  padding: 40px 20px 20px 20px;

  h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
    line-height: 46px;
    color: $font-color;
    text-align: center;
    margin: 0;
  }

  @media (max-width: $lg) {
    padding: 90px 20px 40px 20px;

    h2 {
      font-size: 28px !important;
      line-height: 34px;
    }
  }
}

// Price Period Switcher
.price-period-switcher {
  height: 30px;
  margin-bottom: 30px;
  align-items: center;

  .switcher {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: $font-color;
    opacity: 0.5;

    span {
      color: #53bad1;
      margin-left: 5px;
    }

    &.active {
      opacity: 1;
    }

    @media (max-width: $sm) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .toggle {
    margin: 0 20px;
    position: relative;
    box-sizing: border-box;
    input[type="checkbox"] {
      position: absolute;
      left: 0;
      top: 0;
      z-index: 10;
      width: 100%;
      height: 100%;
      cursor: pointer;
      opacity: 0;
      &:checked {
        + {
          label {
            &:before {
              background: #9c27b0;
            }
            &:after {
              left: 23px;
            }
          }
        }
      }
    }
    label {
      position: relative;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      margin: 0;
      &:before {
        content: "";
        width: 50px;
        height: 30px;
        background: #53bad1;
        position: relative;
        display: inline-block;
        border-radius: 18px;
        box-sizing: border-box;
        transition: 0.2s ease-in;
      }
      &:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        left: 3px;
        top: 3px;
        z-index: 2;
        background: #fff;
        background-image: url("../images/check-plans.svg");
        background-position: center;
        background-repeat: no-repeat;
        box-sizing: border-box;
        transition: 0.2s ease-in;
      }
    }
  }
}

// Pricing Card
.pricing-card--wrapper {
  margin-top: 70px;
  margin-bottom: 100px;

  @media (max-width: $lg) {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.pricing-card {
  padding: 30px 40px 30px 40px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  max-width: 360px;
  border-radius: 10px;

  @media (max-width: $lg) {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &.pricing-card--popular {
    margin-top: -40px;
    margin-bottom: -40px;
    padding: 40px 40px 67px 40px;
    border: 3px solid #d585ec;
    box-shadow: 0px 0px 20px rgba(213, 133, 236, 0.5);

    @media (max-width: $lg) {
      margin: 0;
      padding: 40px 40px 30px 40px;
    }
  }
}

.pricing-card--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.pricing-card__popular-text {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #9036aa;
  margin-bottom: 13px;
}

.pricing-card__head {
  h4 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $font-color;
  }

  p {
    font-weight: 400;
    font-size: 14px !important;
    line-height: 24px;
    color: $font-color;
    margin: 0;
  }
}

.pricing-card__price {
  margin-top: 14px;

  .price-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      min-width: 115px;
    }

    .price-text {
      font-weight: 600;
      font-size: 24px !important;
      line-height: 29px;
      color: $font-color;
    }

    small {
      margin-left: 5px;
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: $font-color;
    }

    .price-description {
      font-size: 12px !important;
      line-height: 16px;
      max-width: 100px;
    }
  }
}

.border {
  margin: 24px 0;
  opacity: 0.25;
  border: 0.5px solid $lightgray-color !important;
}

.pricing-card__body {
  font-size: 14px;
  line-height: 22px;
  color: $font-color;
  padding-left: 20px;
  margin-bottom: 0;

  a {
    color: $font-color;
  }

  li {
    margin-bottom: 10px;
    list-style-image: url("../images/check.svg");
    padding-inline-start: 10px;

    &:last-child {
      margin: 0;
    }
  }
}

.pricing-card__bottom {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  a.btn {
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    box-shadow: 0px 2px 5px rgba(144, 54, 170, 0.35);
    border-radius: 5px;
  }

  .diffy-register-description {
    margin-top: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $lightgray-color;
  }
}
