@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "variables";
@import "mixins";
@import "navbar";
@import "footer";
@import "home";
@import "features";
@import "documentation";
@import "screenshots";

body,
html {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  color: $font-color;
}

h3 {
  font-size: 23px;
  color: $font-color;
  line-height: 32px;
}

p {
  font-size: 16px;
  color: $font-color;
}

.max-width-1280 {
  max-width: 1280px;
}

.button {
  border: none;
  width: 157px;
  height: 44px;
  color: white;
}

.button--try-for-free {
  background-color: $green-color;
  text-transform: uppercase;
  box-shadow: 0 3px 6px rgba(0, 188, 212, 0.2);

  &:hover {
    background-color: $purple-color;
    box-shadow: 0 3px 6px rgba(156, 39, 176, 0.2);
  }
}

.button--select {
  background-color: $purple-color;
  box-shadow: 0 3px 6px rgba(156, 39, 176, 0.2);

  &:hover {
    background-color: $green-color;
    box-shadow: 0 3px 6px rgba(0, 188, 212, 0.2);
  }
}

.button-more {
  background-color: $purple-color;
  box-shadow: 0 3px 6px rgba(156, 39, 176, 0.2);
  color: white;

  &:hover {
    background-color: $green-color;
    box-shadow: 0 3px 6px rgba(0, 188, 212, 0.2);
  }
}

.text--light {
  color: $lightgray-color !important;
}

.text--small {
  font-size: 13px;
}

.shadow-card {
  border: 1px solid #c6dde5;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.veritical-align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

@media (max-width: $sm) {
  h2 {
    font-size: 18px !important;
  }

  h3 {
    font-size: 16px !important;
  }

  p {
    font-size: 13px !important;
  }
}

// Imports styles for entity type pages.
@import "./page/documentation";

// Imports specific styles for specific nodes.
@import "./node/node--5--about_us";

// Imports Blogs.
@import "./blog";
