@import "variables";

.text-block-custom-bg {
  padding: 60px 0;
  margin-left: -15px;
  margin-right: -15px;

  @media (max-width: $lg) {
    padding: 60px 15px;
  }

  // BG Color
  &.white--bg {
    background: #fff;
  }
  &.light-purple--bg {
    background: rgba(144, 54, 170, 0.04);
  }
  &.lightgray--bg {
    background: $lightgray-color;
  }

  // Block Title
  h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: $font-color;
    margin-bottom: 30px;
  }

  @media (max-width: $lg) {
    h2 {
      font-size: 22px !important;
      line-height: 30px;
      margin-bottom: 20px;
    }
  }
}

// Block Container
.text-block-custom-bg--container {
  max-width: 850px;
}

// Block Content
.text-block-custom-bg--content {
  p {
    font-weight: 400;
    font-size: 16px !important;
    line-height: 24px;
    color: $font-color;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
