{#
/**
 * @file
 * Default theme implementation of the Superfish menus.
 *
 * Available variables:
 * - id: Unique menu identifier.
 * - menu_classes: Menu classes.
 * - menu_items: Menu tree.
 *
 * @see template_preprocess_superfish()
 *
 * @ingroup themeable
 */
#}
<ul id="{{ id }}" class="{{ menu_classes }} navbar-nav text-center text-lg-left">
  {{ menu_items }}
  <div class="action-links">
    <a class="sign-in" href="https://app.diffy.website/#">Sign In</a>
    <a class="diffy-register" href="https://app.diffy.website/#/register">Try For Free</a>

{#    <button type="button" class="video-btn" data-toggle="modal" data-src="https://www.loom.com/share/263077da24444cf1b831499bc006461e" data-target="#myModal">#}
{#      Watch Demo#}
{#    </button>#}
    <a href="https://calendly.com/diffy/demo" type="button" class="video-btn" target="_blank">
      Book a Demo
    </a>
  </div>
</ul>
