{#
/**
 * @file
 * Default theme implementation of the Superfish menus.
 *
 * Available variables:
 * - id: Unique menu identifier.
 * - menu_classes: Menu classes.
 * - menu_items: Menu tree.
 *
 * @see template_preprocess_superfish()
 *
 * @ingroup themeable
 */
#}
<ul id="{{ id }}" class="{{ menu_classes }} navbar-nav text-center text-lg-left">
  {{ menu_items }}
  <div class="action-links">
    <a class="sign-in" href="https://app.diffy.website/#">Sign In</a>
    <a class="diffy-register" href="https://app.diffy.website/#/register">Try For Free</a>

    <button type="button" class="video-btn" data-toggle="modal" data-src="https://www.youtube.com/watch?v=cbU1VqFnGaI" data-target="#myModal">
      View Demo
    </button>
    <!-- Modal -->
    <div class="modal demo-video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <img alt="close" src="{{ base_path ~ directory }}/images/xmark.svg">
          </button>
          <div
            class="modal-body">
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
            </div>

            <a class="modal-diffy-register" href="https://app.diffy.website/#/register">Try For Free</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ul>
