<section class="container-fluid max-width-1280 mt-5 documentation-cards">
    <div class="row px-3">

        <div class="col-12 mb-5">
            <h2 class="text-center">
                Documentation topics
            </h2>
        </div>

        <div class="col-md-4 d-flex mb-4 mb-md-0">
            <a href="/documentation/ui-guide">
            <article class="shadow-card p-3 text-center">
                <img class="mb-3" src="{{ base_path ~ directory }}/images/guide.svg" alt="guide-picture">
                <h4 class="mb-3">UI guide</h4>
                <p class="mb-0">Tips and Tricks about UI. Discover more features</p>
            </article></a>
        </div>

        <div class="col-md-4 d-flex mb-4 mb-md-0">
            <a href="/documentation/using-apis">
            <article class="shadow-card p-3 text-center">
                <img class="mb-3" src="{{ base_path ~ directory }}/images/api.svg" alt="api-picture">
                <h4 class="mb-3">Using APIs</h4>
                <p class="mb-0">How to use APIs for automating testing, deployments</p>
            </article></a>
        </div>

        <div class="col-md-4 d-flex mb-4 mb-md-0">
            <a href="/documentation/tutorials">
            <article class="shadow-card p-3 text-center">
                <img class="mb-3" src="{{ base_path ~ directory }}/images/tutorials.svg" alt="book-picture">
                <h4 class="mb-3">Tutorials</h4>
                <p class="mb-0"></p>
            </article></a>
        </div>

    </div>
</section>

<section class="container-fluid mt-5 popular-documentation">

    <div class="mb-5 text-center">
        <h2 class="mt-5">
            Popular documentation pages
        </h2>
    </div>

    <div class="row px-3">

        <div class="col-md-6 px-2 px-md-4 px-lg-5 my-3">
            <a href="/documentation/mask-and-exclude-dom-elements">
                <h3 class="py-3 popular-documentation--headline">Mask and exclude</h3>
            </a>
        </div>

        <div class="col-md-6 px-2 px-md-4 px-lg-5 my-3">
            <a href="/documentation/preview-screenshots-diffs">
                <h3 class="py-3 popular-documentation--headline">Preview Screenshots, Diffs</h3>
            </a>
        </div>

        <div class="col-md-6 px-2 px-md-4 px-lg-5 my-3">
            <a href="/documentation/team-management">
                <h3 class="py-3 popular-documentation--headline">Teams management</h3>
            </a>
        </div>

        <div class="col-md-6 px-2 px-md-4 px-lg-5 my-3">
            <a href="/documentation/getting-started-apis">
                <h3 class="py-3 popular-documentation--headline">Getting Started with APIs</h3>
            </a>
        </div>

        <div class="col-md-6 px-2 px-md-4 px-lg-5 my-3">
            <a href="/documentation/pantheon-quicksilver-quick-start">
                <h3 class="py-3 popular-documentation--headline">Pantheon Quicksilver Quick Start</h3>
            </a>
        </div>

    </div>

</section>

<section class="container-fluid max-width-1280">
    <div class="row px-3">

        <div class="col-12 my-5">
            <h2 class="text-center">
                Changelog
            </h2>
        </div>

        <div class="col-md-8">
            <h3>Testing popups. Execute javascript prior taking a screenshot</h3>
            {#<p class="text--light text--small">A month ago</p>#}
            <p>Now it is possible to execute arbitrary javascript prior taking a screenshot. It allow taking screenshots
                of popups or any other elements that require some user interaction.
            </p>
            <a href="https://headwayapp.co/diffy-changelog" class="button button-more" type="button">More<img class="px-2" src="{{ base_path ~ directory }}/images/arrow.svg" alt="arrow"></a>
        </div>

    </div>
</section>