<section class="container-fluid max-width-1280 main-banner mt-5">
  <div class="row px-3">

    <div class="col-12 col-md-12 main-banner__text pr-md-0 d-flex">
      <div class="m-auto">
        <h1 class="mb-5 mt-5 text-center">
          BackstopJS VS. Diffy<br/>
          for visual regression testing
        </h1>
        <h3 class="text-center">While BackstopJS is good for local testing Diffy is far superior when it comes to team collaboration and multiple environments</h3>
        <div class="mt-5 mb-5">
          <div class="d-flex justify-content-center">
            <a href="https://app.diffy.website/#/register" class="button button--try-for-free diffy-register">Try for free</a>
          </div>
          <p class="d-flex justify-content-center text--small mt-2">14 days free trial period,<br/>no credit card required</p>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="container-fluid max-width-1280">
  <div class="row px-3">
    <div class="col-md-8 container headline--margin-top px-5 text-center">
      <h2 class="mb-3">Fewer False Positives</h2>
      <h5><i>Spend less time reviewing your reports.</i></h5>
      <p>
        Diffy has custom intelligent image comparison algorithm that recognizes vertical shifts.
        Both BackstopJS and Diffy have abilities to hide / remove elements from the page, scroll, delay taking
        screenshot and running custom javascript.
      </p>
    </div>
    <div class="col-md-12 text-center">
      <img style="width:100%" src="/themes/custom/marketing/images/algorithm.png">
    </div>
  </div>
</section>

<section class="container-fluid max-width-1280 mt-5">
  <div class="row px-3">
    <div class="col-md-8 container headline--margin-top px-5 text-center">
      <h2 class="mb-3">No need to install and maintain your infrastructure</h2>
      <h5><i>Start faster and save time waiting for reports</i></h5>
      <p>
        With BackstopJS you'll need to install tool locally and you are limited by your computer's resources.
        With Diffy you start immediately on highly scalable infrastructure based on AWS Lambda.
      </p>
    </div>
  </div>
</section>

<section class="container-fluid max-width-1280 mt-5">
  <div class="row px-3">
    <div class="col-md-8 container headline--margin-top px-5 text-center">
      <h2 class="mb-3">Fabulous User Interface</h2>
      <h5><i>Review reports in more convenient way</i></h5>
      <p>
        We have spent a lot of time refining our UI for large number of screenshots. Diffy has a thumbnails view and
        detail view with zooming option while BackstopJS shows all screenshots one under another (that can be grow a lot vertically)
      </p>
    </div>
    <div class="col-md-6 mb-3">
      <img alt="BackstopJS UI" style="width: 97%" src="/themes/custom/marketing/images/backstopjs.gif">
    </div>
    <div class="col-md-6 mb-3">
      <img alt="Diffy UI" style="width: 97%" src="/themes/custom/marketing/images/diffy-ui.gif">
    </div>
  </div>
</section>

<section class="container-fluid max-width-1280 mt-5">
  <div class="col-12 col-md-12 main-banner__text pr-md-0 d-flex justify-content-center">
      <div class="mt-5 mb-5">
        <div class="d-flex justify-content-center">
          <a href="https://app.diffy.website/#/register" class="button button--try-for-free diffy-register">Try for free</a>
        </div>
        <p class="d-flex justify-content-center text--small mt-2">14 days free trial period,<br/>no credit card required</p>
      </div>
  </div>
</section>

<section class="container-fluid max-width-1280">
  <div class="row px-3">
    <div class="col-md-8 container headline--margin-top px-5 text-center">
      <h2 class="mb-3">CI integration, sharing reports, notifications</h2>
      <h5><i>Better collaboration with your team members and clients</i></h5>
      <p>
        Diffy has CLI tool and rich REST API that make CI integration like a breeze.
        Also, you don't need to worry about where to store results -- your team can go to the app and do the review.
        There are shareable report links so your team members or clients don't even need accounts in Diffy to see them.
        Diffy can post results to SLACK and send notifications by email. In case of BackstopJS you will need
        to take care of all these on your own.
      </p>
    </div>
  </div>
</section>

<section class="container-fluid max-width-1280 mt-5">
  <div class="row px-3">
    <div class="col-md-8 container headline--margin-top px-5 text-center">
      <h2 class="mb-3">Multiple environments, history</h2>
      <h5><i>Review your historical data easily</i></h5>
      <p>
        BackstopJS by default allows you to take screenshots and compare them with the baseline.
        While Diffy also can do that, it provides you with possibility to have multiple environments and keep the
        history of screenshots and comparison reports.
      </p>
    </div>
    <div class="col-md-12 text-center">
      <img style="width:80%" src="/themes/custom/marketing/images/diffy-history.png">
    </div>
  </div>
</section>

<section class="container-fluid max-width-1280 mt-5">
  <div class="col-12 col-md-12 main-banner__text pr-md-0 d-flex justify-content-center">
    <div class="mt-5 mb-5">
      <div class="d-flex justify-content-center">
        <a href="https://app.diffy.website/#/register" class="button button--try-for-free diffy-register">Try for free</a>
      </div>
      <p class="d-flex justify-content-center text--small mt-2">14 days free trial period,<br/>no credit card required</p>
    </div>
  </div>
</section>

<section class="mt-5 slider-block">
  <div class="container carousel">
    <h2 class="text-center mb-5">Trusted by world class agencies</h2>
    <div class="row justify-content-center">

      <div class="col-lg-3 col-md-6 col-sm-12 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/md_systems_logo.svg" alt="md systems" style="width: 200px">
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/palantir.net-logo.png" alt="palantir.net" style="width: 220px">
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/door3_logo@2x.png" alt="door3">
      </div>

      <div class="col-lg-3 col-md-6 col-sm-12 logo p-0 d-flex">
        <img class="m-auto" src="{{ base_path ~ directory }}/images/five_logo@2x.png" alt="five">
      </div>

    </div>
  </div>
  <div class="mt-5 mb-5">
    <div>
      <div class="d-flex justify-content-center">
        <a href="https://app.diffy.website/#/register" class="button button--try-for-free diffy-register">Try for free</a>
      </div>
      <p class="d-flex justify-content-center text--small mt-2">14 days free trial period,<br/>no credit card required</p>
    </div>
  </div>
</section>
