<article id="node--5--about_us" class="container">

  <section class="promotion">
    <div class="frame">
      <span class="text">
        We help <span class="highlight">your QA team</span> to ensure that websites don't get visual bugs
      </span>
    </div>
  </section>

  <section class="glance container">
    <div class="row">
      <div class="col">
        <div class="section-title text-center">Diffy at a glance</div>
      </div>
    </div>
    <div class="archievement row align-items-center">
      <div class="item col">
        <div class="title text-center">
          1k+
        </div>
        <div class="subtitle text-center">
          websites tested
        </div>
      </div>
      <div class="item col">
        <div class="title text-center">2 million</div>
        <div class="subtitle text-center">screenshots taken</div>
      </div>
      <div class="item col">
        <div class="title text-center">5TB</div>
        <div class="subtitle text-center">images processed</div>
      </div>
    </div>
  </section>

  <section class="team">
    <div class="section-title text-center">Meet our team</div>
    <div class="team row">
      <div class="member col">
        <div class="image text-center">
          <img src="{{ base_path ~ directory }}/images/photo-yuriy.png" alt="">
        </div>
        <div class="name text-center">Yuriy</div>
        <div class="position text-center">Founder/CEO</div>
      </div>
      <div class="member col">
        <div class="image text-center">
          <img src="{{ base_path ~ directory }}/images/photo-sergey.png" alt="">
        </div>
        <div class="name text-center">Sergey</div>
        <div class="position text-center">Senior Developer</div>
      </div>
      <div class="member col">
        <div class="image text-center">
          <img src="{{ base_path ~ directory }}/images/photo-kristina.png" alt="">
        </div>
        <div class="name text-center">Kristina</div>
        <div class="position text-center">Marketing</div>
      </div>
    </div>
  </section>

  <section class="story">
    <div class="row">
      <div class="section-title text-center col">The story behind Diffy</div>
    </div>
    <div class="row">
      <div class="text col-sm-7">
        <p>Idea of the project was born when one of our web services client threatened to fire our agency if we don’t “stop breaking things” on their website. The site was 5 years old and moved between few agencies already so you can envision how those half-a-dozen-thousands CSS files looked like. All fixes were just band aids here and there so eventually it was hard to ensure we do not break things.</p>
        <br/>
        <p>Thankfully after introducing visual testing with screenshots we were able to stabilize the site and saved the project.</p>
        <br/>
        <p>Now visual testing is used as a development tool to track changes by hundreds of companies.</p>
        <br/>
        <br/>
        <p>We would be thrilled if you could give Diffy a try too!</p>
      </div>
      <div class="image col-sm-5 text-right">
        <img src="{{ base_path ~ directory }}/images/story-yuriy.png" alt="">
      </div>
    </div>
  </section>

  <div class="d-flex justify-content-center mt-5">
    <a href="https://app.diffy.website" class="button button--try-for-free">Try for free</a>
  </div>
  <p class="d-flex justify-content-center text--light text--small">14 days trial period</p>
</article>
