<section class="container-fluid max-width-1280 mt-5 documentation-cards">
    <div class="row px-3">

        <div class="col-12 mb-5">
            <h2 class="text-center">
                Documentation topics
            </h2>
        </div>

        <div class="col-md-4 d-flex mb-4 mb-md-0">
            <article class="shadow-card p-3 text-center">
                <img class="mb-3" src="{{ base_path ~ directory }}/images/guide.svg" alt="guide-picture">
                <h4 class="mb-3">UI guide</h4>
                <p class="mb-0">Tips and Tricks about UI. Discover more features</p>
            </article>
        </div>

        <div class="col-md-4 d-flex mb-4 mb-md-0">
            <article class="shadow-card p-3 text-center">
                <img class="mb-3" src="{{ base_path ~ directory }}/images/api.svg" alt="api-picture">
                <h4 class="mb-3">Using APIs</h4>
                <p class="mb-0">How to use APIs for automating testing, deployments</p>
            </article>
        </div>

        <div class="col-md-4 d-flex mb-4 mb-md-0">
            <article class="shadow-card p-3 text-center">
                <img class="mb-3" src="{{ base_path ~ directory }}/images/tutorials.svg" alt="book-picture">
                <h4 class="mb-3">Tutorials</h4>
                <p class="mb-0"></p>
            </article>
        </div>

    </div>
</section>

<section class="container-fluid mt-5 popular-documentation">

    <div class="mb-5 text-center">
        <h2 class="mt-5">
            Popular documentation
        </h2>
    </div>

    <div class="row px-3">

        <div class="col-md-6 px-2 px-md-4 px-lg-5 my-3">
            <a href="#">
                <h3 class="py-3 popular-documentation--headline">Mask and exclude</h3>
            </a>
        </div>

        <div class="col-md-6 px-2 px-md-4 px-lg-5 my-3">
            <a href="#">
                <h3 class="py-3 popular-documentation--headline">Preview Screenshots, Diffs</h3>
            </a>
        </div>

        <div class="col-md-6 px-2 px-md-4 px-lg-5 my-3">
            <a href="#">
                <h3 class="py-3 popular-documentation--headline">Teams management</h3>
            </a>
        </div>

        <div class="col-md-6 px-2 px-md-4 px-lg-5 my-3">
            <a href="#">
                <h3 class="py-3 popular-documentation--headline">Review results Offline</h3>
            </a>
        </div>

        <div class="col-md-6 px-2 px-md-4 px-lg-5 my-3">
            <a href="#">
                <h3 class="py-3 popular-documentation--headline">Pixel perfect diff</h3>
            </a>
        </div>

    </div>

</section>

<section class="container-fluid max-width-1280">
    <div class="row px-3">

        <div class="col-12 my-5">
            <h2 class="text-center">
                Changelog
            </h2>
        </div>

        <div class="col-md-8">
            <h3>Baseline images</h3>
            <p class="text--light text--small">A month ago</p>
            <p>Excited to announce Baseline images functionality. Idea is that you can create
                a set of images to compare against that can consist from different environments.
                So instead of immediate comparison of environments now you can
                collect your “ideal” set and then compare it with your builds.
            </p>
            <button class="button button-more" type="button">More<img class="px-2" src="{{ base_path ~ directory }}/images/arrow.svg" alt="arrow"></button>
        </div>

    </div>
</section>