.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23555' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23555' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

/* TRY FOR FREE button */
a.button--try-for-free {
  text-align: center;
  padding-top: 10px;
  width: 175px;
  height: 50px;
  font-size: 18px;
}
a.button--try-for-free:hover {
  color: white;
  text-decoration: none;
}

/** Style Subscribe Newsletter form **/
.webform-submission-subscribe-form button {
  text-align: center;
  padding-top: 6px;
  margin-top: 4px;
  width: 150px;
  height: 38px;
  font-size: 16px;
  border-radius: 0px;

  background-color: #00bcd4;
  text-transform: uppercase;
}

.webform-submission-subscribe-form button:hover {
  background-color: #9c27b0;
  -webkit-box-shadow: 0 3px 6px rgba(156, 39, 176, 0.2);
  box-shadow: 0 3px 6px rgba(156, 39, 176, 0.2); }

.webform-submission-subscribe-form .form-email {
  border-radius: 0px;
}

/* SCROLLING https://css-tricks.com/snippets/jquery/smooth-scrolling/ */
html {
  scroll-behavior: smooth;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}
