$font-color: #333333;
$purple-color: #9c27b0;
$green-color: #00bcd4;
$dark-green-color: #03a1b5;
$lightgray-color: #93a9b0;
$gray:#8F8F8F;
$blue:#009CDE;
$light-blue: #53BAD1;


$sm: 575px;
$sm-plus: 576px;
$md: 767px;
$md-plus: 768px;
$lg: 991px;
$lg-plus: 992px;
$xl: 1200px;
